<button
  class="ui-button"
  [class]="'variant-' + variant + ' size-' + size"
  [class.full-width]="fullWidth"
  [class.loading]="loading"
  [disabled]="disabled || loading"
  (click)="onClicked()">

  <i *ngIf="icon && iconPosition === 'left' && !loading" [class]="'pi pi-' + icon"></i>

  <div *ngIf="loading" class="loading-spinner"></div>

  <span class="button-content">
    <ng-content></ng-content>
  </span>

  <i *ngIf="icon && iconPosition === 'right' && !loading" [class]="'pi pi-' + icon"></i>
</button>